!!! 5
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=uft-8')
		title= title
		script(src='/javascripts/jquery-1.9.0.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/login_page.js')
		script var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-38005216-1"]);_gaq.push(["_trackPageview"]);(function(){var b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a)})();
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
	body
		div#container-login
			div.row-fluid
				div.span12.login-title
					h1 2013 紅藍明星對抗賽
			div.row-fluid
				div.span12
					div#container-login-table-container
						form(method='post', action='/update_pass')
							table
								tbody
									tr
										td(colspan='2') 
											h3 建立投票密碼
									if msg == "empty"
										tr
											td(colspan='2', style='color:red;') 密碼不得為空
									if msg == "incorrect"
										tr
											td(colspan='2', style='color:red;') 確認密碼錯誤
									tr
										td 學號
										td 
											input(type='text', disabled='disabled', value='#{stnum}')
											input(type='hidden', name='account', value='#{stnum}')
									tr
										td 投票密碼
										td
											input(type='password', name='password')
									tr
										td 密碼確認
										td
											input(type='password', name='password_c')
											input(type='hidden', name='token', value='#{token}')
									tr
										td#login-submit(colspan='2')
											div.btn-group
												button.btn.btn-primary(type='submit') 建立投票密碼
			div.row-fluid.footer-login-page
				div.footer-login
					span.footer-text 主辦單位
					a(href='http://facebook.com/NTPUSU', title='國立臺北大學學生自治會')
						img.logo(src='/images/sulogo.png', target='_blank')
				div.footer-login
					span.footer-text 協辦單位
					a(href='http://www.shockpaper.com', title='Shock! 三峽客地方媒體')
						img.logo(src='/images/shocklogo.png', target='_blank')
			div.row-fluid.footer
				div.span12.coop-union 合作聯盟
					img.logo(src='/images/softball-un.png')
					| 國立臺北大學壘球聯盟
					img.logo(src='/images/basketball-un.png')
					| 國立臺北大學籃球聯盟
					img.logo(src='/images/volleyball-un.png')
					| 國立臺北大學排球聯盟
